<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- Da un paso atras -->
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Saludo</ion-title>
    </ion-toolbar>
</ion-header>

<!-- ionic-test -->

<ion-content [fullscreen]="true">
    <ion-button routerLink="/home">
        Volver home
    </ion-button>


    <ion-item>
        <ion-label position="floating">Nombre a saludar: </ion-label>
        <ion-input [(ngModel)]="nombres"></ion-input>
        <!-- sintaxis de angular ngModel -> actualiza en la interfaz -->
    </ion-item>


    <ion-button color="" (click)="saludar()">
        <ion-icon name="hand-left-outline"></ion-icon>
        Saludo
    </ion-button>


</ion-content>