<ion-header>
    <ion-toolbar>
        <ion-title>Operaciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="/home">
        Volver home
    </ion-button>

    <ion-item>
        <ion-label position="floating">Numero 1:</ion-label>
        <ion-input [(ngModel)]="num1"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">operador:</ion-label>
        <ion-input [(ngModel)]="operador"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Numero 2:</ion-label>
        <ion-input [(ngModel)]="num2"></ion-input>
    </ion-item>
    <ion-button color="success" (click)="calcularDato()">
        Calcular
    </ion-button>

    <ion-list>
        <ion-item>
            <ion-label>
                El resultado de: {{num1}} {{operador}} {{num2}} es igual a {{respuesta}}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>